{% extends "::baseportal.html.twig" %}
{% block content %}
    <h3>The Home page </h3>
    <p>Right here the application will be presented, and defining all the features and links tht related the to the apps .</p>
{% endblock %}
